In [7]:
from geopy.geocoders import ArcGIS

In [11]:
dir(ArcGIS())

['_MAX_RETRIES',
 '_TOKEN_EXPIRED',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_authenticated_call_geocoder',
 '_call_geocoder',
 '_coerce_point_to_string',
 '_format_bounding_box',
 '_geocoder_exception_handler',
 '_read_http_error_body',
 '_refresh_authentication_token',
 'api',
 'auth_api',
 'auth_domain',
 'auth_path',
 'domain',
 'format_string',
 'geocode',
 'geocode_path',
 'headers',
 'password',
 'proxies',
 'referer',
 'retry',
 'reverse',
 'reverse_api',
 'reverse_path',
 'scheme',
 'ssl_context',
 'timeout',
 'token',
 'token_expiry',
 'token_lifetime',
 'urlopen',
 'username']

In [9]:
nom = ArcGIS()

In [10]:
dir(nom)

['_MAX_RETRIES',
 '_TOKEN_EXPIRED',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_authenticated_call_geocoder',
 '_call_geocoder',
 '_coerce_point_to_string',
 '_format_bounding_box',
 '_geocoder_exception_handler',
 '_read_http_error_body',
 '_refresh_authentication_token',
 'api',
 'auth_api',
 'auth_domain',
 'auth_path',
 'domain',
 'format_string',
 'geocode',
 'geocode_path',
 'headers',
 'password',
 'proxies',
 'referer',
 'retry',
 'reverse',
 'reverse_api',
 'reverse_path',
 'scheme',
 'ssl_context',
 'timeout',
 'token',
 'token_expiry',
 'token_lifetime',
 'urlopen',
 'username']

In [13]:
n = nom.geocode("3995 23rd St, San Francisco, CA 94114")

In [14]:
n

Location(3995 23rd St, San Francisco, California, 94114, (37.75298458728149, -122.4317017142651, 0.0))

In [15]:
n.latitude

37.75298458728149

In [16]:
n.longitude

-122.4317017142651

In [17]:
type(n)

geopy.location.Location

In [18]:
import pandas
df = pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [20]:
df["Address"] = df["Address"] + ", " + df["City"] + ", " + df["State"] + ", " + df["Country"]

In [21]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20

In [24]:
df["Coordinates"] = df["Address"].apply(nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411..."
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94..."
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114..."
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411..."
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9..."
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9..."

In [25]:
df["Coordinates"][0]

Location(3666 21st St, San Francisco, California, 94114, (37.75644449321933, -122.42935314363206, 0.0))

In [26]:
df["Coordinates"][0].latitude

37.75644449321933

In [27]:
df["Latitude"] = df["Coordinates"].apply(lambda x: x.latitude if x != None else None) 
# We cannot apply "latitude" method directly to df["Coordinates"] in this case, so we have to do it via apply method.
# What we are doing is passing every value of "Coordinates" row, to 'x' variable in Lambda. Then, we will put the 
# Latitude in our new column rows (Latitude), only if 'x' is not None (if it has lat and lon), otherwise, we will fill
# the row with 'None'. Pretty easy actually.

In [28]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756444
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757801
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755641
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752985
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752144
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753709

In [29]:
df["Longitude"] = df["Coordinates"].apply(lambda x: x.longitude if x != None else None)

In [30]:
df

,ID,Address,City,State,Country,Name,Employees,Coordinates,Latitude,Longitude
0,1,"3666 21st St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Madeira,8,"(3666 21st St, San Francisco, California, 9411...",37.756444,-122.429353
1,2,"735 Dolores St, San Francisco, CA 94119, USA",San Francisco,CA 94119,USA,Bready Shop,15,"(735 Dolores St, San Francisco, California, 94...",37.757801,-122.425599
2,3,"332 Hill St, San Francisco, California 94114, USA",San Francisco,California 94114,USA,Super River,25,"(332 Hill St, San Francisco, California, 94114...",37.755641,-122.428794
3,4,"3995 23rd St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995 23rd St, San Francisco, California, 9411...",37.752985,-122.431702
4,5,"1056 Sanchez St, San Francisco, California, USA",San Francisco,California,USA,Sanchez,12,"(1056 Sanchez St, San Francisco, California, 9...",37.752144,-122.429758
5,6,"551 Alvarado St, San Francisco, CA 94114, USA",San Francisco,CA 94114,USA,Richvalley,20,"(551 Alvarado St, San Francisco, California, 9...",37.753709,-122.433251